*.a
*.sh
*.log*
*.d
*.o
*.exe*
Makefile
Makefile.in
.deps

COPYING
INSTALL
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.status
configure
depcomp
install-sh
missing
po/Makefile.in.in
stamp-h1
config.h.in~

src/tracer/tracer
